@{
    ViewBag.Title = "About";
}
<div class="container text-center">
    <h2>About the Program</h2>

    <div class="row">
        <div class="col-md-12">
            <p>Welcome to the Bug Assassin!</p>
            <p>BA is an online ticket management program designed for ease of use within businesses worldwide. The features of our program are listed below!</p>
        </div>
    </div>

    <h4>Not only is the Bug Assassin interface user-friendly, it comes standard with FOUR user roles.</h4>
    <div class="col-md-3">
        <h2>Submitter</h2>
        <div class="container">
            <ul>
                <li>Submit Tickets</li>
                <li>View Tickets</li>
                <li>View Projects</li>
                <li>Send Notifications</li>
            </ul>
        </div>
    </div>

    <div class="col-md-3">
        <h2>Developer</h2>
        <div class="container">
            <ul>
                <li>Submit Tickets</li>
                <li>Edit Tickets</li>
                <li>View Tickets</li>
                <li>View Projects</li>
                <li>Send Notifications</li>
            </ul>
        </div>
    </div>

    <div class="col-md-3">
        <h2>Project Manager</h2>
        <div class="container">
            <ul>
                <li>Submit Tickets</li>
                <li>Edit Tickets</li>
                <li>View Tickets</li>
                <li>Assign Tickets</li>
                <li>View Projects</li>
                <li>Create Projects</li>
                <li>Send Notifications</li>
            </ul>
        </div>
    </div>

    <div class="col-md-3">
        <h2>Administrator</h2>
        <div class="container">
            <ul>
                <li>Submit Tickets</li>
                <li>Edit Tickets</li>
                <li>View Tickets</li>
                <li>Assign Tickets</li>
                <li>View Projects</li>
                <li>Create Projects</li>
                <li>Manage Users & Roles</li>
                <li>Send Notifications</li>
            </ul>
        </div>
    </div>
</div>